@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message.</h2>
<h3>@ViewBag.Address</h3>

<address>
    Computer Science<br />
    Dept. 3315<br />
    1000 E. University Ave.<br />
    Laramie, WY 82071<br />
    <abbr title="Phone">P:</abbr>
    307.766.5190
</address>

<address>
    <strong>Development Team:</strong><br />   
    <a href="mailto:jbarella@uwyo.edu">Jonathan</a><br />
     <a href="mailto:cmarker1@uwyo.edu">Cohner</a><br />
    <a href="mailto:sjohn115@uwyo.edu">Spencer</a><br />
</address>